tenancy_ocid     = "ocid1.tenancy.oc1..aaaaaaaaxxx..."
user_ocid        = "ocid1.user.oc1..aaaaaaaaxxx..."
fingerprint      = "xx:xx:xx:xx:xx:xx..."
private_key      = "-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
region           = "ap-chuncheon-1"
compartment_ocid = "ocid1.compartment.oc1..aaaaaaaaxxx..."
bucket_name      = "datt-image-bucket"
ssh_public_key   = "ssh-rsa AAAAB3NzaC1yc2E..."
existing_instance_ocid = "ocid1.instance.oc1.ap-chuncheon-1.aaaaaaaaxxx..."
